<% layout('layouts/boilerplate') %>
<div class="grid grid-cols-2 gap-4">
    <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="<%= spot.image %>" alt="<%= spot.title %>">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><%= spot.title %></div>
            <p class="text-gray-700 text-base"><%= spot.description %></p>
            <p class="text-gray-700 text-base text-opacity-75"><%= spot.location %></p>
            <p class="text-gray-700 text-base">Submitted by <%= spot.author.username %></p>
        </div>
        <% if (currentUser && spot.author.equals(currentUser._id)) { %>
        <div class="px-6 pt-4 pb-2">
            <a href="/spots/<%= spot._id %>/edit"><button class="p-2 rounded text-white bg-cyan-500 hover:bg-cyan-600">Edit</button></a>
            <a href="/spots/<%= spot._id %>/delete"><button class="p-2 rounded text-white bg-red-500 hover:bg-red-600 deletebtn">Delete</button></a>
            <a href="/spots">All Spots</a>
        </div>
        <% } %>
    </div>
    <div>
        <h2 class="font-bold text-xl mb-2">Leave a Comment</h2>
        <form action="/spots/<%= spot._id %>/comments" method="POST" class="mb-3">
            <div class="mb-3">
                <label for="rating">Rating</label>
                <input type="range" min="1" max="5" name="comment[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label for="body" class="block mb-1">Comment</label>
                <textarea name="comment[body]" id="body" cols="30" rows="3"></textarea>
            </div>
            <button class="p-2 rounded text-white bg-green-500 hover:bg-green-600">Submit</button>
        </form>
        <% for (let comment of spot.comments) { %>
        <div class="mb-3">    
            <p class="text-gray-700 text-base">Rating: <%= comment.rating %></p>
            <p class="text-gray-700 text-base text-opacity-75">By <%= comment.author.username %></p>
            <p class="text-gray-700 text-base">Comment: <%= comment.body %></p>
            <% if (currentUser && comment.author.equals(currentUser._id)) { %>
            <form action="/spots/<%=spot._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
            <% } %>
        </div>
        <% } %>
    </div>
</div>


    




