<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/starability.css">

<div class="my-5 text-center">
    <h1 class="font-bold text-5xl mb-4"><%= spot.title %></h1>  
    <p class="text-gray-700/75 text-base">Submitted by <%= spot.author.username %></p>
</div>
<% if (spot.images.length) { %>
<div class="grid place-items-center">
    <div class="slider w-full overflow-hidden aspect-square md:aspect-video">
        <% spot.images.forEach((img, i) => { %>
        <div class="slide w-full aspect-square md:aspect-video">
            <img class="w-full h-full object-cover" src="<%= img.url %>" alt="<%= spot.title %>">
        </div>
        <% }) %>
        <% if (spot.images.length > 1) { %>
        <button class="slider-btn btn-next bg-black/70"><span class="text-white">&#62;</span></button>
        <button class="slider-btn btn-prev bg-black/70"><span class="text-white">&#60;</span></button>
        <% } %>
    </div>
</div>
<% } %>

<div class="mt-5 md:mt-10 md:grid grid-cols-2 gap-6">
    <div class="rounded overflow-hidden shadow-lg">
        <div id='map' class="w-full"></div>      
        <div class="px-6 py-4">
            <p class="font-semibold uppercase">Location:</p>
            <p class="text-gray-700 text-base capitalize"><%= spot.location %></p>
            <p class="font-semibold uppercase mt-1">Description:</p>
            <p class="text-gray-700 text-base"><%= spot.description %></p>          
        </div>
        <% if (currentUser && spot.author.equals(currentUser._id)) { %>
        <div class="px-6 pt-2 pb-4">
            <a href="/spots/<%= spot._id %>/edit"><button class="px-5 py-2 rounded text-white bg-cyan-500 hover:bg-cyan-600">Edit</button></a>
            <a href="/spots/<%= spot._id %>/delete"><button class="px-3 py-2 ml-1 rounded text-white bg-red-500 hover:bg-red-600">Delete</button></a>
        </div>
        <% } %>
    </div>
    <div class="mt-5 md:mt-0">
        <h2 class="font-bold text-2xl text-center mb-2">Leave a Comment</h2>
        <form action="/spots/<%= spot._id %>" method="POST" class="form my-3">
            <div class="mb-3">
                <fieldset class="starability-heart">
                    <legend class="mb-1">Rating</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="comment[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="comment[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="comment[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="comment[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="comment[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="comment[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>               
                </fieldset>
                <small class="hidden text-red-700 star-error">Please provide rating from 1 to 5 stars</small>
            </div>
            <div class="mb-3">
                <label for="body" class="block mb-1">Comment</label>
                <textarea name="comment[body]" id="body" rows="5" class="input w-full border-gray-300 rounded ring-red-400"></textarea>
                <small class="hidden text-red-700">Please provide comment</small>
            </div>
            <button class="mb-3 px-3 py-2 rounded text-white bg-green-500 hover:bg-green-600">Submit</button>
        </form>
        
    </div>
</div>
<div class="mt-8">
    <% if (spot.comments.length) { %>
    <h2 class="font-bold text-3xl mb-2 md:ml-6">Comments</h2>
    <% } %>
    <% for (let comment of spot.comments) { %>
    <div class="my-3 md:px-6 md:w-8/12">    
        <p class="text-gray-700 text-base font-semibold"><%= comment.author.username %></p>
        <p class="starability-result my-1" data-rating="<%= comment.rating %>">Rating: <%= comment.rating %> stars</p>
        <p class="text-gray-700 text-base"><%= comment.body %></p>
        <% if (currentUser && comment.author.equals(currentUser._id)) { %>
        <form action="/spots/<%=spot._id%>/<%=comment._id%>?_method=DELETE" method="POST">
            <button class="px-3 py-2 mt-2 rounded text-white bg-red-500 hover:bg-red-600">Delete</button>
        </form>
        <% } %>
    </div>
    <% } %>
</div>

<script>
    const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
    const spot = <%- JSON.stringify(spot) %>;
</script>
<script src="/js/details.js"></script>

    




