<% layout('layouts/boilerplate') %>
<div class="flex flex-col justify-center">
    <h1 class="text-center text-2xl font-semibold mb-4">Edit Spot</h1>
    <div class="m-auto xl:w-1/3">
        <form action="/spots/<%= spot._id %>?_method=PUT" method="POST" class="form" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="title" class="block mb-2">Title</label>
                <input type="text" id="title" name="spot[title]" value="<%= spot.title %>" class="input w-full border-gray-300 rounded ring-red-400">
                <small class="hidden text-red-700">Please provide title</small>
            </div>
            <div class="mb-4">
                <label for="location" class="block mb-2">Location</label>
                <input type="text" id="location" name="spot[location]" value="<%= spot.location %>" class="input w-full border-gray-300 rounded ring-red-400">
                <small class="hidden text-red-700">Please provide location</small>
            </div>
            <!-- <div class="mb-4">
                <label for="image" class="block mb-2">Image</label>
                <input type="text" id="image" name="spot[image]"  value="<%= spot.image %>" class="input w-full border-gray-300 rounded ring-red-400">
                <small class="hidden text-red-700">Please provide image</small>
            </div> -->
            <div class="mb-4">
                <label class="block mb-2" for="image">Images</label>
                <input class="block w-full text-sm border border-gray-300 rounded bg-gray-50 focus:outline-none cursor-pointer" name="image" id="image" type="file" multiple>
            </div>
            <div class="mb-4">
                <label for="description" class="block mb-2">Description</label>
                <textarea type="text" id="description" name="spot[description]" class="input w-full border-gray-300 rounded ring-red-400"><%= spot.description %></textarea> 
                <small class="hidden text-red-700">Please provide description</small>
            </div>
            <div class="mb-4">
                <% spot.images.forEach((img, i) => { %>
                <div>
                    <img src="<%= img.thumbnail %>" alt="<%= spot.title %>">
                    <input type="checkbox" id="image-<%= i + 1 %>" name="deleteImages[]" value="<%= img.filename %>" class="w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                    <label for="image-<%= i + 1 %>" class="ml-2 text-sm font-medium">Delete Image</label>
                </div>
                <% }) %>
            </div>
            <div class="flex justify-between">
                <button class="p-2 rounded text-white bg-cyan-500 hover:bg-cyan-600">Update Spot</button>
                <a href="/spots/<%= spot._id %>"><button type="button" class="px-3 py-2 mr-1 rounded bg-gray-300 hover:bg-gray-400">Cancel</button></a>
            </div>           
        </form>
    </div>
</div>

